body {
  background-color: #ffffff;
  width: 1440px;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: ;
  2 
}
.gallery-item {
  width: 360px;
}

.gallery-image {
  width: 100%;
  display: block;
}
